[Unit]
Description=Voice pruner Discord bot
Documentation=https://github.com/vilgotf/voice-pruner
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/voice-pruner
Restart=on-failure
DynamicUser=true
LoadCredential=token:/path/to/token

[Install]
WantedBy=multi-user.target
